@mixin divider {
	width: 148px;
	height: 1px;
	background-color: $main-color;
	margin: 20px auto 17px;
}

@mixin img-origin {
	&_origin {
		display: block;
		margin: 0 auto;
	}
	&_hover {
		display: none;
		margin: 0 auto;
	}
}
@mixin img-hover {
	&_origin {
		display: none;
	}
	&_hover {
		display: block;
	}
}
