.consultation {
	padding-bottom: 80px;
	&__form {
		border: 1px solid $main-color;
		position: relative;
		// z-index: 1;
		&:hover {
			border-color: $form-color;
			.consultation__img {
				@include img-hover;
				border-color: $form-color;
			}

		}
	}
	.img__wrap {
		position: absolute;
		padding: 0 10px;
		background-color: #fff;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__img {
		@include img-origin;
		// position: absolute;
		// bottom: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		// z-index: 22;
		border: 1px solid $main-color;
		border-radius: 50%;
		max-width: 102px;
		max-height: 102px;
		margin: 0 auto;

		img {
			padding: 17px 20px 24px 23px;
		}
	}
	&__title {
		margin: 0 0 70px;
	}
	&__input {
		display: grid;
		grid-template-columns: repeat(3, minmax(270px, auto));
		justify-content: center;
		column-gap: 10px;
		input {
			margin: 67px 0 52px;
			width: 240px;
			height: 47px;
			background-color: #ffffff;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 25px;
			padding-left: 27px;
			opacity: 0.9;
			font-size: 13px;
			line-height: 24px;
			font-weight: 300;
			color: #101010;
		}
	}
	&__btn {
		position: absolute;
		padding: 0 10px;
		// z-index: 22;
		bottom: 0%;
		left: 50%;
		transform: translate(-50%, 50%);
		background-color: #fff;
		button {
			display: block;
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%,-50%);
			// z-index: 22;
			padding: 0 10px;
		}
	}
}
// .form_wrap {
// 	position: relative;
// }
