.consultation {
	padding-bottom: 80px;
	&__form {
		border: 1px solid $form-color;
		position: relative;
		&:hover {
			border-color: $main-color;
			.consultation__img {
				@include img-hover;
				border-color: $main-color;
			}
		}
	}
	.img__wrap {
		position: absolute;
		padding: 0 10px;
		background-color: #fff;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__img {
		@include img-origin;
		border: 1px solid $form-color;
		border-radius: 50%;
		max-width: 102px;
		max-height: 102px;
		margin: 0 auto;

		img {
			padding: 17px 20px 24px 23px;
		}
	}
	&__title {
		margin: 0 0 70px;
	}
	&__btn {
		position: absolute;
		padding: 0 10px;
		bottom: 0%;
		left: 50%;
		transform: translate(-50%, 50%);
		background-color: #fff;
		button {
			display: block;
			padding: 0 10px;
		}
	}
}
