.form {
	&__input {
		display: grid;
		grid-template-columns: repeat(3, minmax(270px, auto));
		justify-content: center;
		column-gap: 10px;
		.wrap {
			display: flex;
			flex-direction: column;
		}
		}
		input {
			display: block;
			margin: 67px 0 52px;
			width: 240px;
			height: 47px;
			background-color: #ffffff;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 25px;
			padding-left: 27px;
			opacity: 0.9;
			font-size: 13px;
			line-height: 24px;
			font-weight: 300;
			color: #101010;
			&:focus,
			&:active {
				outline: 0;
				border-color: $main-color;
			}
		}
	}
	label.error {
		position: relative;
		top: -40px;
		text-align: center;
		color: $main-color;
}