.header {
	padding: 23px 0 81px;
	min-height: 680px;
	background: url("../img/header/bg.jpg") no-repeat center top / auto;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__menu {
		list-style: none;
		padding-left: 0;
		display: flex;
		margin: 0;
	}
	&__item {
		padding-right: 12px;
		&:last-child {
			padding-right: 0;
			&::after {
				display: none;
			}
		}
		&::after {
			content: "";
			border-left: 1px dashed #fff;
			opacity: 0.4;
			margin-left: 12px;
		}
	}
	&__link {
		text-decoration: none;
		color: #fff;
		font-size: 15px;
		line-height: 16px;
		font-weight: 400;
	}
	&__info {
		display: flex;
	}
	&__contacts {
		margin-right: 19px;
	}
	&__text {
		font-size: 14px;
		line-height: 24px;
		font-weight: 300;
		color: #ffffff;
		display: flex;
		justify-content: flex-end;
	}
	&__phone {
		font-size: 19px;
		line-height: 24px;
		font-weight: 700;
		color: #ffffff;
		text-decoration: none;
	}
}
