@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.navbar {
		&__menu {
			display: none;
		}
	}
	.hamburger {
		display: block;
		width: 55px;
		position: absolute;
		left: 120px;
		cursor: pointer;
		&:hover span {
			background: $hover-color;
			transition: all 0.5s;
		}
		span {
			display: block;
			height: 5px;
			width: 100%;
			margin-bottom: 5px;
			background-color: $main-color;
		}
	}
	.menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 10;
		visibility: hidden;
		opacity: 0;
		transition: all 0.7s;
	}
	&.active {
		top: 0px;
		visibility: visible;
		opacity: 0.97;
		background-color: $title-color;
		display: flex;
		justify-content: space-between;
	}
	.navbar {
		&__menu {
			padding: 60px 0 0 30px;
			display: flex;
		}
		&__item {
			margin-bottom: 10px;
		}
		&__link {
			font-size: 20px;
		}
	}
	.menu__close {
		display: block;
		position: relative;
		right: 20px;
		top: 45px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		&:hover span {
			background: $hover-color;
			transition: all 0.5s;
		}
		span {
			display: block;
			width: 40px;
			height: 7px;
			margin-bottom: 5px;
			background-color: $main-color;
			&:first-child {
				transform: translateY(17px) rotate(45deg);
			}
			&:last-child {
				transform: translateY(5px) rotate(-45deg);
			}
		}
	}
	.header {
		&__icons {
			grid-template-columns: repeat(2, 260px);
			justify-content: space-around;
			row-gap: 15px;
		}
	}
	.advantages {
		&__blocks {
			grid-template-columns: repeat(2, minmax(400px, auto));
			gap: 30px 40px;
		}
		&__block {
			grid-template-columns: 60px auto;
		}
	}
	.job {
		&__block {
			&:last-child {
				position: relative;
				left: 50%;
			}
		}
	}
	.price {
		&__blocks {
			grid-template-columns: repeat(2, minmax(265px, auto));
			justify-content: space-evenly;
		}
	}
	// .schema {
	// 	// &__blocks {
	// 	// 	justify-content: space-between;
	// 	// }
	// 	&__block {
	// 		margin-right: 0;
	// 	}
	// }
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.title {
		&_fz72 {
			font-size: 53px;
			margin-top: 15px;
		}
		&_fz42 {
			font-size: 31px;
			margin-bottom: 32px;
		}
	}
	.header {
		padding-bottom: 60px;
		&__stripes {
			margin-bottom: 13px;
		}
	}
	.navbar {
		&__menu {
			flex-direction: column;
			padding-top: 30px;
		}
		&__item {
			padding-bottom: 20px;
			&::after {
				display: none;
			}
		}
	}
	.menu {
		&__close {
			top: 17px;
			right: 30px;
		}
	}
	.advantages {
		&__blocks {
			grid-template-columns: 1fr;
		}
		// ниже у .advantages добавил стили чтобы сделать иконки не сбоку а сверху
		&__block {
			grid-template-columns: 1fr;
			// grid-template-rows: repeat(2, 100px);
		}
		&__img {
			margin: 0 auto;
		}
		&__text {
			text-align: center;
		}
	}
	.job {
		&__blocks {
			grid-template-columns: 1fr;
		}
		&__block {
			&:last-child {
				left: 0;
			}
		}
		&__img {
			img {
				display: block;
				margin: 0 auto;
				// max-width: 80%;
			}
		}
	}
	.form {
		&__input {
			grid-template-columns: 270px;
			// grid-template-rows: repeat(3, 50px);
			margin: 70px 0 50px;
			row-gap: 10px;
			input {
				margin: 0;
			}
		}
		textarea {
			width: 240px;
		}
	}
	.questions {
		&__title {
			padding: 15px 0 5px;
		}
		&__subtitle {
			padding-bottom: 5px;
		}
		&__input {
			margin: 25px 0 20px;
		}
		&__btn {
			padding: 25px 0 30px;
		}
		&__form {
			textarea {
				height: 85px;
			}
		}
	}
	// .consultation {
	// 	&__input {
	// 		grid-template-columns: 270px;
	// 		// grid-template-rows: repeat(3, 50px);
	// 		margin: 70px 0 50px;
	// 		row-gap: 10px;
	// 		input {
	// 			margin: 0;
	// 		}
	// 	}
	// }
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.title {
		&_fz72 {
			font-size: 48px;
			// margin-top: 20px;
		}
		&_fz42 {
			// font-size: 48px;
			display: none;
		}
	}
	.btn {
		width: 135px;
		&:hover {
			&::after {
				height: 0;
				width: 0;
			}
		}
		&_big {
			width: 230px;
		}
		&_medium {
			width: 180px;
		}
	}
	.hamburger {
		left: 100px;
		width: 50px;
		&:hover span {
			background-color: $main-color;
		}
	}
	.menu {
		&__close {
			&:hover span {
				background: $main-color;
			}
		}
	}
	.navbar {
		&__link {
			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
		&__logo img {
			width: 85%;
		}
		&__phone {
			font-size: 17px;
		}
	}
	.header {
		&__stripes {
			&::after,
			&::before {
				width: 250px;
			}
		}
	}
	.price {
		&__blocks {
			grid-template-columns: repeat(auto-fit, 271px);
			justify-content: center;
		}
		&__block {
			&:hover {
				box-shadow: none;
				background-color: #fff;
				.price__img {
					&_origin {
						display: block;
					}
					&_hover {
						display: none;
					}
				}
			}
		}
	}
	.consultation {
		&__form:hover {
			border-color: $form-color;
		}
		&__img {
			border-color: $main-color;
			&_origin {
				display: none;
			}
			&_hover {
				display: block;
			}
		}
	}
	.schema {
		&__block {
			margin: 20px 5px 0;
		}
	}
}

@media (max-width: 576px) {
	.container {
		width: 90%;
		padding: 0 10px;
		// padding-right: 5px;
		// padding-left: 5px;
	}
	.divider {
		display: none;
	}
	.title {
		&_fz21 {
			display: none;
		}
		&_fz24 {
			font-size: 19px;
		}
		&_fz26 {
			font-size: 22px;
		}
		&_fz72 {
			font-size: 35px;
		}
	}
	.navbar {
		// &__info {
		// 	// display: none;
		// 	// visibility: hidden;
		// }
		&__btn {
			display: none;
		}
		// &__text {
		// 	// display: none;
		// }
		&__contacts {
			// display: none;
			margin-right: 0;
			position: relative;
			top: 20px;
		}
		// &__phone {
		// 	position: relative;
		// 	top: 20px;
		// }
		// &__logo {
		// 	position: relative;
		// 	right: 0;
		// }
	}
	.hamburger {
		left: auto;
		right: 0;
		top: 4px;
	}
	.header {
		&__icons {
			grid-template-columns: 1fr;
		}
		&__icon {
			&:nth-child(2) {
				margin-top: 0;
			}
		}
		&__stripes {
			&::after,
			&::before {
				width: 130px;
			}
		}
	}

	.advantages {
		// &__chapter {
		// 	line-height: 19px;
		// }
		&__blocks {
			row-gap: 25px;
		}
		// &__block {
		// 	column-gap: 5px;
		// }
	}
	.job {
		&__blocks {
			margin-top: 25px;
			row-gap: 25px;
		}
		&__img {
			img {
				// display: block;
				// margin: 0 auto;
				max-width: 90%;
			}
		}
		&__chapter {
			margin: 10px 0 5px;
		}
	}
	.agent, .managers {
		padding: 50px 0;
		&__subtitle {
			font-size: 16px;
			line-height: 23px;
		}
	}
	.form {
		&__input {
			grid-template-columns: 240px;
			input {
				width: 210px;
			}
		}
		textarea {
			width: 210px;
		}
	}
	.consultation {
		padding-bottom: 75px;
		// &__input {
		// 	grid-template-columns: 240px;
		// 	input {
		// 		width: 210px;
		// 	}
		// }
		&__title {
			font-size: 24px;
		}
	}
	.questions {
		padding: 50px 0;
	}
}
