.reviews {
	padding: 50px 0 65px;
	&__image {
		display: block;
		margin: 0 auto;
		z-index: 11;
	}
	&__text {
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	&__chapter {
		font-size: 18px;
		line-height: 22px;
		font-weight: 700;
		color: $descr-color;
		margin-bottom: 10px;
	}
	&__descr {
		font-size: 14.1px;
		font-weight: 300;
		line-height: 22px;
		width: 600px;
		margin: 0;
	}
	&__slider {
		padding-top: 30px;
		.swiper-container {
			position: relative;
			// max-width: calc(1400px + 30px); // эта ширина все ломает, делает не по центру
			overflow: hidden;
		}
		.swiper-button-prev {
			position: absolute;
			background: url("../img/reviews/left.svg") center center/cover no-repeat;
			transform: translateX(-50%);
			top: calc(114px / 2);
			left: calc(50% - 100px);	
		}
		.swiper-button-next {
			position: absolute;
			background: url("../img/reviews/right.svg") center center/cover no-repeat;
			transform: translateX(-50%);
			top: calc(114px / 2);
			left: calc(50% + 100px);
		}
	}
	.swiper-button-next::after,
	.swiper-button-prev::after{
			display: none;
	}
	.swiper-slide {
		transform: scale(.5);
		opacity: .3;
		transition: all .3s ease-in;
	}
	.swiper-slide-active {
		transform: scale(1);
		opacity: 1;
		transition: all .3s ease-in;
	}
}
