.title {
	font-size: 26px;
	line-height: 23px;
	font-weight: 700;
	color: $title-color;
	text-align: center;
	&_fz21 {
		font-size: 21px;
		line-height: 24px;
		font-weight: 300;
	}
	&_fz24 {
		font-size: 24px;
		line-height: 1.2;
		font-weight: 300;
		color: #ffffff;
		margin: 9px 0 0;
	}
	&_fz26 {
		font-size: 26px;
		line-height: 23px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 0 30px;
	}
	&_fz72 {
		font-family: Roboto Condensed;
		font-size: 72px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: $main-color;
		margin: 26px 0 9px;
	}
	&_fz42 {
		font-family: Roboto Condensed;
		font-size: 42px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		color: #ffffff;
		margin: 0 0 38px;
	}
}
